/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.card > div {
   text-align: center;
   flex-direction: column;
}

.table--wrapper {
   overflow-x:auto;
}

.table--tour-dates {
   min-width: 455px;
   margin: 0 auto;
   text-align: left;
   border-collapse: separate;
   border-spacing: 20px 10px;
}


.card__heading{
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
}

.pick{
   display: none;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
   .card__heading{

   }

   .pick{
      display: inline-block;
     width: 40px;
     height: 0%;
     padding: 10px;
   }
}
